/*set styles for entire page */

body {
	font-family: arial;
}

/* header styling */

.page-header h1 {
	text-align: center;
	background-color: #222;
	color: white;
	margin-bottom: 0px;
}

.page-header nav {
	margin-top: 0px;
}

li#connect {
	font-size: 25px;
}

.nav li a {
	color: #222;
}
/* folio and children */

#folio {
	margin-bottom: 0px;
}

#folio .container {
	box-shadow: 0px 0px 40px 15px teal;
	height: 100%;
	margin-bottom: 0px;
}

.inform-1 {
	margin-top: 8%;	
	text-align: center;
}

.inform-2 {
	height: 200px;
	margin-left: -1%;
	padding-top: 40px;
	margin-top: 2%;	
	box-shadow: 0px 0px 20px 5px gray;
	text-align: center;
	border-radius: 25%;
}

img {
	margin-top: 5%;	
	border-radius: 10%;
}

.intr {
	margin-top: 3px;
	margin-bottom: 2px;
	border: 1px solid black;
	border-bottom: 3px solid black;
	text-align: center;	
	clear: both;
}

.intr ul {
	display: inline;
	list-style: none;
}

/* projex and children */

.projex {
	margin-top: 5px;

}

.projex ol {
	text-align: center;
	display: inline-block;
	list-style: none;
}

.projex h3 {
	text-align: center;
}

.projex h4 {
	width: 235px;
	border: 1px solid black;
	border-radius: 4px;
	display: inline-block;
	background-color: #ADD8E6;
}

.projex li a {
	font-size: 20px;
}

.projex .first-row {
	border: 1px solid black;
	border-bottom: 3px solid black;
}

a.btn-info {
	width: 235px;
	display: inline-block;
	margin: 1px;
	box-shadow: 0px 0px 20px 5px gray;
}

/* about */
.about .row {
	margin-left: 5px;
	margin-right: 5px;	
}

.col-md-6 {
	border: 1px solid transparent;
	border-radius: 12%;
	box-shadow: 10px 5px 3px 3px;
	margin-bottom: 10px;
}

/* footer */

footer {
	margin-bottom: 0px;
	padding-bottom: 10px;
	background-color: #222;
	color: white;
}